$primary-color: #7458ea;
$secondary-color: #d3fe57;

$black-color: #000000;
$white-color: #fff;

// $primary-gradient: #fff;
.section {
  width: 90%;
  margin: 0 auto;
}
.section_title {
  font-size: 28px;
  font-weight: bold;
}
.section_soustitle {
  font-size: 16px;
}
